.card-img {
width: 100%;
height: 25vw;
object-fit: cover;
}

.card-body {
font-family: 'Courier New', Courier, monospace;
text-align: center;
}

.card-title {
color: #0000FF;
display: flex;
justify-content: center;
align-items: center; 
}

.card-text {
color: #0000FF;
font-weight: 500;
height: 170px;
}

.card-button {
background-color: #0000FF;
position: absolute;
border: none;
bottom: 20px;
}