.genre-view {
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 10px;
}

.genre-card {
  margin: auto;
}

.genre-name {
  font-weight: 600;
  color: #00CED1;
}

.genre-description {
  padding: 15px 15px 0px 15px;
}